<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="trunk_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import trunk_robot urdf file -->
    <xacro:include filename="$(find robot_model)/urdf/trunk_robot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="trunk_robot.ros2_control.xacro" />


    <xacro:trunk_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
