<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="trunk_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-4.01405088889979E-05 -0.00352473624103908 0.0480485516731422"
        rpy="0 0 0" />
      <mass
        value="1.19376797646484" />
      <inertia
        ixx="0.00174493194737575"
        ixy="1.72477982890629E-06"
        ixz="4.78024511976294E-08"
        iyy="0.00333057845739083"
        iyz="2.44491422918845E-06"
        izz="0.00405645391434616" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trunk_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trunk_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-4.00815451988383E-05 -0.139234993281004 -0.00324253444158193"
        rpy="0 0 0" />
      <mass
        value="1.16740315970427" />
      <inertia
        ixx="0.00188021895341448"
        ixy="-8.64543339239997E-08"
        ixz="1.72458411118576E-06"
        iyy="0.0011634231572531"
        iyz="1.96016605877902E-05"
        izz="0.00246980843174015" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trunk_urdf/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trunk_urdf/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 -0.00073898 0.092"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.39"
      upper="1.39"
      effort="300"
      velocity="10" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.0015967550681588 -0.0942830837522513 -0.00292843411845677"
        rpy="0 0 0" />
      <mass
        value="0.880116917258585" />
      <inertia
        ixx="0.00417573273248533"
        ixy="-3.92700961474818E-05"
        ixz="4.80537919727938E-08"
        iyy="0.00107567424932336"
        iyz="2.56613405151841E-08"
        izz="0.00488264593536724" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trunk_urdf/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trunk_urdf/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 -0.205 0"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.74"
      upper="1.74"
      effort="300"
      velocity="10" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.000105875645913057 -0.022209645647068 -0.00676494758899959"
        rpy="0 0 0" />
      <mass
        value="1.03370665864094" />
      <inertia
        ixx="0.000963896292501139"
        ixy="-5.73927375977795E-07"
        ixz="-1.83425906606744E-06"
        iyy="0.00124536923622442"
        iyz="4.04209628583469E-07"
        izz="0.00147926168448543" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trunk_urdf/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trunk_urdf/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 -0.185 0.001489"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.74"
      upper="1.74"
      effort="300"
      velocity="10" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="-1.89511476323262E-05 -7.55563744658377E-05 0.0273829382693229"
        rpy="0 0 0" />
      <mass
        value="0.627724319805369" />
      <inertia
        ixx="0.000985321889065659"
        ixy="1.70314808933708E-05"
        ixz="-3.60603817351573E-07"
        iyy="0.000639119858509204"
        iyz="1.70903110820024E-06"
        izz="0.00123931844698071" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trunk_urdf/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.411764705882353 0.411764705882353 0.411764705882353 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://trunk_urdf/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 -0.10825 0.0004"
      rpy="1.5708 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="300"
      velocity="10" />
  </joint>
</robot>